#search-error {
    display: none;
}

#search-error.error {
    display: block;
    background-color: rgba(217, 89, 89, 0.5);
}

body {
    font-family: 'Comic Sans MS', "Comic Sans", cursive;
    background-color: black;
    text-align: center;

}

h1 {
    height: 100%;
    color: red;
}
h2 {
    color: orange;
    font-size: 10em;
}

#temp {
    color: yellow;
    font-size: 8em;
}

#shortDesc {
    color: green;
    float: left;
    height: 50%;
}

#longDesc {
    color: blue;
    margin-left: 5%;
    height: 30%;
}

button {
    background-color: black;
    color: white;
}

a {
    color: white;
    margin: 1%;
}

li {
    list-style-type: none;
}