/*
 *  This file should contain your custom style rules.
 */

 body {
     background-color: #333333;
     color: white;
 }

.alert {
    display: none;
}

.alert.active {
    display: block;
}

img {
    float: left;
    max-height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    display: inline;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
}

h3 {
   font-size: 0.75em;
   display: inline;
}

.message-box {
    border: 1px solid white;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
    width: 75%;
}

p {
    margin-left: 10em;
}

#message-input {
    display: block;
    width: 75%;
    margin: auto;
}
button {
    margin-left: 45%;
    margin-right: 45%;
    overflow: hidden;
    background-color: white;
    color: black;
}

.userButt {
    display: inline-block;
    margin: 0px auto;
    font-size: 50%;
}